.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

#lezioni, #steps, #why {
  text-align: center;
}

/* BLOCCO LEZIONI */
#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* BLOCCO PERCHE */
#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}


@media screen and (max-width: 420px) {

}

@media screen and (min-width: 420px) and (max-width: 768px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-size: 1.5rem;
  }

  h1 {
    margin-bottom: 40px;
  }

  img, p {
    margin-bottom: 20px;
  }

  p {
    padding: 0 10px;
  }

  .container.grey {
    background: none;
  }

  #why p {
    height: 135px;
  }

}
